
@{
    ViewBag.Title = "ChartGoster";
}

<h2>Ürün Raporu</h2>

<div class="row">
    <div class="col-sm-6">
        <img src="/MyChart/ChartOlustur" alt="Chart 0" />
    </div>

    <div class="col-sm-6">
        <img src="/MyChart/ChartOlustur?tip=Line&cache=3" alt="Chart 1" />
    </div>

    <div class="col-sm-6">
        <img src="/MyChart/ChartOlustur2" alt="Chart 2" />
    </div>

    <div class="col-sm-6">
        <img src="/MyChart/ChartOlustur2?tip=Doughnut&cache=4" alt="Chart 3" />
    </div>

    @*<div class="col-sm-6">
        <img src="/MyChart/ChartOlustur" alt="Chart 2" />
    </div>

    <div class="col-sm-6">
        <img src="/MyChart/ChartOlustur" alt="Chart 3" />
    </div>*@
</div>